<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Almacen</title>
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body class="d-flex justify-content-center align-items-center vh-100">
    <div class="container">
        <div class="card">
            <div class="card-header bg-secondary text-white d-flex justify-content-center">
                <h1>Registrar Almacen</h1>
            </div>
            <div class="card-body">
                <form th:action="@{/almacenes/registrar}" th:object="${almacen}" method="post" class="form">
                    <!-- Agrega los campos necesarios para Almacen -->
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" th:field="*{nombre}" required class="form-control"/>
                    </div>
                    <div class="mt-4">
                        <button type="submit" class="btn btn-secondary">Registrar</button>
                        <a href="/almacenes" class="btn btn-dark ml-2">Volver a la lista de almacenes</a>
                    </div>
                    <div th:if="${error}" class="mt-3">
                        <p th:text="${error}" class="text-danger"></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
