<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Lotes</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body class="d-flex justify-content-center align-items-center vh-100">
    <div class="container text-center">
        <h1>Lista de Lotes</h1>
        <table class="table my-5">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cantidad</th>
                    <th>Fecha de Recepción</th>
                    <th>Proveedor</th>
                    <th>Precio de Compra</th>
					<th>Producto</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="lote : ${lotes}">
                    <td th:text="${lote.idLote}">ID Lote</td>
                    <td th:text="${lote.cantidad}">Cantidad</td>
                    <td th:text="${lote.fechaRecepcion}">Fecha de Recepción</td>
                    <td th:text="${lote.proveedor}">Proveedor</td>
                    <td th:text="${lote.precioCompra}">Precio de Compra</td>
					<td th:text="${lote.producto.nombre}">Nombre del Producto</td>
                </tr>
            </tbody>
        </table>
        <a href="/lotes/registrar" class="btn btn-secondary">Registrar Nuevo Lote</a>
    </div>
</html>
